<md-bottom-sheet class="md-list md-has-header">
    <div layout="row" flex>
        <div flex="50" style="text-align: center;" ng-click="vm.editClient();">
            <md-button aria-label="edit" class="md-raised md-primary cmssButton">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <span>Edit</span>
            </md-button>
        </div>
        <div flex="50" style="text-align: center;" ng-click="vm.deleteClient();">
            <md-button aria-label="Delete" class="md-raised md-primary cmssButton">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span>Delete</span>
            </md-button>
        </div>
    </div>
</md-bottom-sheet>
<style>

</style>