<md-card>
  <md-card-content>
    <md-list flex style="margin-bottom: 7%;">
      <md-list-item class="md-2-line" ng-repeat="item in vm.applicationList track by $index">
        <img src="assets/images/angular.png" class="md-avatar" />
        <div class="md-list-item-text" layout="column">
          <div style="font-size: 16px;font-weight: bold;word-break: break-word;">
            <span>{{ item.application_name }}</span>
          </div>
          <div style="font-size: 15px;word-break: break-word;">
            <span>{{ item.application_description }}</span>
          </div>
        </div>
        <div id="icon">
          <md-button style="padding-left: 10%;" class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="action Button">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </md-button>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
    <div class="fab-align">
      <md-button class="md-fab fabButton fabDownBtb" aria-label="Add Client">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </md-button>
    </div>
  </md-card-content>
</md-card>

<style>
  md-card md-card-content {
    padding: 8px !important;
  }
  
  .fab-align {
    position: fixed;
    right: 5%;
    margin-top: -24%;
  }
</style>